@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

#navigation {
  z-index: 100;
  width: 1440px;
  height: 42px;
  position: fixed;
  background-color: #ffffff;
  border-radius: 10px;
}
#navigation #imgNaw {
  position: fixed;
  top: 5px;
  left: 995px;
}
#navigation p {
  position: absolute;
  top: 4px;
  left: 29px;
}
#navigation ul li {
  position: absolute;
  left: 677px;
  top: 5px;
  width: 598px;
  height: 23px;
  text-transform: none;
  display: flex;
}
#navigation #homeNaw {
  position: fixed;
  left: 677px;
  top: 5px;
  background-color: none;
  font-family: Poppins;
}
#navigation #aboutNaw {
  position: fixed;
  left: 757px;
  top: 5px;
  background-color: none;
  font-family: Poppins;
}
#navigation #findNaw {
  position: fixed;
  left: 867px;
  top: 5px;
  background-color: none;
  font-family: Poppins;
}
#navigation #shareNaw {
  position: fixed;
  left: 987px;
  top: 5px;
  background-color: none;
  font-family: Poppins;
}
#navigation #promoteNaw {
  position: fixed;
  left: 1117px;
  top: 5px;
  background-color: none;
  font-family: Poppins;
}

#homeNaw:hover {
  color: #f78434;
}

#aboutNaw:hover {
  color: #f78434;
}

#findNaw:hover {
  color: #f78434;
}

#shareNaw:hover {
  color: #f78434;
}

#promoteNaw:hover {
  color: #f78434;
}

#head {
  position: relative;
  font-family: Poppins;
  transition: transform 0.3s;
}
#head h1 {
  z-index: 10;
  position: absolute;
  font-size: 54px;
  left: 160px;
  top: 206px;
  display: flex;
  text-align: start;
}
#head p {
  position: absolute;
  left: 160px;
  top: 501px;
  font-size: 16px;
  display: flex;
  text-align: start;
}
#head .imgHead {
  position: absolute;
  top: 90px;
  left: 700px;
}
#head #headBtn {
  position: absolute;
  border-radius: 29px;
  right: 770px;
  top: 600px;
  background-color: #f78434;
  width: 157px;
  height: 58px;
  border: #f78434;
  -webkit-text-decoration: #fff;
          text-decoration: #fff;
}
#head #headIn {
  width: 277px;
  height: 58px;
  position: absolute;
  right: 990px;
  top: 600px;
  border-radius: 29px;
  padding: 20px;
  border: none;
}

#headBtn:hover {
  transform: scale(1.2);
}

#headIn:hover {
  transform: scale(1.2);
}

#logo {
  position: relative;
  top: 750px;
  width: 100%;
  height: 200px;
  transition: transform 0.3s;
}
#logo .logo1 {
  position: absolute;
  top: 80px;
  left: 160px;
}
#logo .logo2 {
  position: absolute;
  top: 90px;
  left: 406px;
}
#logo .logo5 {
  position: absolute;
  top: 80px;
  left: 706px;
}
#logo .logo6 {
  position: absolute;
  top: 110px;
  left: 698px;
}
#logo .logo3 {
  position: absolute;
  top: 85px;
  left: 1046px;
}
#logo .logo4 {
  position: absolute;
  top: 90px;
  left: 1050px;
}
#logo ul li {
  font-family: Poppins;
  text-transform: none;
  opacity: 0, 5;
  overflow: hidden;
  display: flex;
  color: #D8D8D8;
  transition: transform 0.1s;
}
#logo #ipsum1 {
  position: absolute;
  left: 220px;
  top: 90px;
  overflow: hidden;
}
#logo #ipsum2 {
  position: absolute;
  left: 460px;
  top: 90px;
}
#logo #ipsum3 {
  position: absolute;
  left: 760px;
  top: 90px;
}
#logo #ipsum4 {
  position: absolute;
  left: 1120px;
  top: 90px;
}

.logo1:hover {
  transform: scale(1.1);
}

.logo2:hover {
  transform: scale(1.1);
}

.logo3:hover {
  transform: scale(1.1);
}

.logo4:hover {
  transform: scale(1.1);
}

.logo5:hover {
  transform: scale(1.1);
}

.logo6:hover {
  transform: scale(1.2);
}/*# sourceMappingURL=index.css.map */