@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" sans-serif;
}

.navigation {
  width: 100%;
  height: 112px;
}

.img {
  width: 30px;
  height: 30px;
}

.choice {
  display: flex;
  padding: 112px 0;
  max-width: 1000px;
  margin: 0 auto;
}
.choice .block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.choice .block #h2 {
  font-family: "Poppins";
  font-size: 42px;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: 0.8000000119px;
  color: #323232;
}

#perfomes {
  display: flex;
  padding: 0 165px;
  max-width: 1000px;
}
#perfomes ul {
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
}
#perfomes ul .first {
  width: 248px;
  height: 183px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: scale 0.3s;
}
#perfomes ul .first img {
  width: 70px;
  height: 70px;
}
#perfomes ul .first span {
  font-family: "Poppins";
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  color: #323232;
  padding-top: 15px;
  padding-bottom: 2px;
}
#perfomes ul .first p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}
#perfomes ul .first:hover {
  scale: 1.1;
}
#perfomes ul .two {
  transition: scale 0.3s;
  width: 248px;
  height: 183px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#perfomes ul .two img {
  width: 70px;
  height: 70px;
}
#perfomes ul .two span {
  font-family: "Poppins";
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  color: #323232;
  padding-top: 15px;
  padding-bottom: 2px;
}
#perfomes ul .two p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}
#perfomes ul .two:hover {
  scale: 1.1;
}
#perfomes ul .three {
  width: 248px;
  height: 183px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: scale 0.3s;
}
#perfomes ul .three img {
  width: 70px;
  height: 70px;
}
#perfomes ul .three span {
  font-family: "Poppins";
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  color: #323232;
  padding-top: 15px;
  padding-bottom: 2px;
}
#perfomes ul .three p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}
#perfomes ul .three:hover {
  scale: 1.1;
}
#perfomes ul .four {
  width: 248px;
  height: 183px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: scale 0.3s;
}
#perfomes ul .four img {
  width: 70px;
  height: 70px;
}
#perfomes ul .four span {
  font-family: "Poppins";
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  color: #323232;
  padding-top: 15px;
  padding-bottom: 2px;
}
#perfomes ul .four p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}
#perfomes ul .four:hover {
  scale: 1.1;
}/*# sourceMappingURL=index.css.map */